{% extends "cypherpunk/deck/module_base.jinja2" %}
{% block module-content %}
    <p>This is a help module template.</p>
    <p>Type: {{ module.module_type }}</p>
    <p>BG: {{ module.background_image }}</p>
{% endblock module-content %}
