{% extends "cypherpunk/deck/module_base.jinja2" %}
{% block module-content %}
    <div class="cypherpunk-help-module-content">
        <p>This is a help module template.</p>
        <p>Type: {{ module.module_type }}</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Morbi commodo ligula et iaculis condimentum. Curabitur
            tristique iaculis vestibulum. Vestibulum volutpat efficitur
            risus. Praesent et sagittis dolor.
        </p>
    </div>
{% endblock module-content %}
