{% load static i18n %}
<div class="cypherpunk-module"
     style="background-image: url('{% static module.background_image %}')">
    {% block module-content %}
    {% endblock module-content %}
</div>
