{% partialdef debug %}
    <h1>Nilpoint Debug Page</h1>
    <pre>{{request.scheme}} : {{request.method}} : {{request.path}}</pre>
    <p><b>Working on game:</b> {{ game }}</p>
    <p><b>Current player character:</b> {{ player_character }}</p>
    <h2>*args</h2>
    <ul>
        {% for i in args %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <h2>**kwargs</h2>
    <ul>
        {% for k,v in kwargs.items %}
            <li><b>{{ k }} :</b> {{ v }}</li>
        {% endfor %}
    </ul>
    <h2>GET</h2>
    <ul>
        {% for k,v in request.GET.items %}
            <li><b>{{ k }} :</b> {{ v }}</li>
        {% endfor %}
    </ul>
    <h2>POST</h2>
    <ul>
        {% for k,v in request.POST.items %}
            <li><b>{{ k }} :</b> {{ v }}</li>
        {% endfor %}
    </ul>
    <h2>COOKIES</h2>
    <ul>
        {% for k,v in request.COOKIES.items %}
            <li><b>{{ k }} :</b> {{ v }}</li>
        {% endfor %}
    </ul>
    <p><b>USER:</b> {{ request.user }}</p>
{% endpartialdef %}
